{% include 'snippets/header.html' %}

{% block content %}

<main xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="150%" height="150%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="150%" height="150%" fill="#777"/></svg>
                {% for home in home_blog %}
                <div class="container">
                    <div class="carousel-caption text-start">
                        <img src="{{ home.imageURL }}" alt="">
                        <p>{{ home.title }}</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'home:detail_carousel' home.id %} ">Smotret Online</a></p>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption">
                        <p> .</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Smotret Online</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <p>
                            </p>
                        <p><a class="btn btn-lg btn-primary" href="#">Smotret Online</a></p>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">




        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
   {% for home in home_post %}
        <a href=" {% url 'home:detail' home.id %} " >
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted">{{ home.title }}</span></h2>
        </a>
                <p class="lead">{{ home.body }}</p>

            </div>
        </div>
                <img src="{{home.imageURL }}" alt="">

        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1"><span class="text-muted">-</span></h2>
                <p class="lead"></p>
            </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted">.</span></h2>
                <p class="lead"> </p>
            </div>

        </div>
    {% endfor %}

    <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

</main>

{% endblock content %}

{% include 'snippets/footer.html' %}



