{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <form method="post">
        <meta charset="UTF-8">
    </form>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'images/img-01.png' %}" alt="IMG">
            </div>

            <form class="login100-form validate-form" method="post">
					<span class="login100-form-title">
						Member Login
					</span>


                {% csrf_token %}
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input type="text" name="f_name" class="form-control" id="floatingInput" placeholder="name@example.com" required autofocus value="{{form.initial.f_name}}">
                    <label for="floatingInput">Frist name</label>
                </div>

                <div class="#" data-validate = "Phone is required">
                    <input type="text" name="l_name" class="form-control" id="floatingPassword" placeholder="Password" required  value="{{form.initial.l_name}}">
                    <label for="floatingPassword">Last name</label>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input type="text" name="sex" class="form-control" id="floatingPassword" placeholder="Password" required  value="{{form.initial.sex}}">
                    <label for="floatingPassword">Sex</label>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input type="datetime-local" name="date_birthday" class="form-control" id="floatingPassword" placeholder="Password" required autofocus value="{{form.initial.date_birthday}}">
                    <label for="floatingPassword">Date birthday</label>
                </div>
                <div class="checkbox mb-3">
        </div>
        <a href="{% url 'home:home_list' %}">
        <button class="w-100 btn btn-lg btn-primary" type="submit"> Update</button></a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
        </main>
</div>




<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>